/*
*
* 2017 © Juho Haapalainen
*
*/

.root{
    -fx-background-color: white;
    -fx-padding: 20;
}

.button{
    -fx-background-color: orange;
    -fx-border-radius: 8px;
    -fx-text-fill: white;
    -fx-font-weight: bold
}

.combo-box{
    -fx-background-color: orange;
    -fx-border-radius: 8px;
    -fx-text-fill: white;
    -fx-font-weight: bold
}

.label{
    -fx-text-fill: blue;
    -fx-font-weight: bold
}

#timoLabel{
    -fx-graphic: url("timoLogo.png");
    -fx-graphic-text-gap : 10;
}



